@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }


* {
  caret-color: transparent;
  user-select: none;
}
